main{
    margin: auto;
    font-size: 20px;
}



 main form label{
    margin-left: 30px;
}


 main form{
    background-color: #FF7900;
    border-radius: 20px;
    width: 740px;    
    height: 400px;
    
}

main form h1{
    background-color: #000000;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center; 
    padding-bottom: 10px; 
    padding-top: 10px;
    margin-bottom: 30px;
     
}


main form input{
    font-family: 'Wellfleet', cursive; 
    border-radius: 15px;  
    width: 410px;
    height: 49px;  
    font-size: 20px;
    border:none;
    margin-left: 20px;
    
       
}

main form input:hover{
    background-color:#f5f5f5; 
       
}

main form .form-boton{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    width: 110px;
    position: fixed;
    margin-left: 580px;
    top: 654px;
    
}


main form .form-boton:hover{
    background-color: #ffffff;
    color: #000000; 

} 

main form #Individuo{
    margin-left: 150px;;

}

main form #Partido{
    margin-left: 168px;;

}
main form #FechaIngreso{
    margin-left:72px;;

} 
main form #FechaSalida{
    margin-left:86px;
    width: 290px;

} 