main{
    margin: auto;
    font-size: 20px;
}



main form label{
    margin-left: 20px;
}


 main form{
    background-color: #FF7900;
    border-radius: 20px;
    width: 750px;    
    height: 795px;
    
}

main form h1{
    background-color: #000000;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center; 
    padding-bottom: 10px; 
    padding-top: 10px;
    margin-bottom: 30px;
     
}


main form input{
    font-family: 'Wellfleet', cursive; 
    border-radius: 15px;  
    width: 400px;
    height: 49px;  
    font-size: 20px;
    border:none;
    margin-left: 10px;     
}

main form input:hover{
    background-color:#f5f5f5; 
       
}

main form .form-boton{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    width: 140px;
    position: fixed;
    margin-left: 580px;
    margin-top: 10px;
}


main form .form-boton:hover{
    background-color: #ffffff;
    color: #000000; 
    margin-left:565px;
    margin-top: 10px;
} 

main form select{
    font-family: 'Wellfleet', cursive; 
    border-radius: 15px;  
    width: 400px;
    height: 49px;  
    font-size: 20px;
    border:none;
    margin-left: 10px;
}

main form #titulo{
    margin-left: 15px;
}

main form #afiliado{
    margin-left: 213px;
}
main form #proceso{
    margin-left: 210px;
}
main form #Fecha_I{
    margin-left: 82px;

}

main form #acusacion{
    margin-left: 188px;
  
}

main form #inocente{
    margin-left: 110px;  
}


main form #Pena{
    margin-left: 235px;   
}

main form #comentarios{
    margin-left: 320px;
    margin-top: 0px;
    font-family: 'Wellfleet', cursive; 
    border-radius: 15px;  
    width: 400px;
    height: 145px;  
    font-size: 20px;
    border:none;
}

main form label{
    margin-left: 30px;

}

